@charset "utf-8";
.pipe {
  color: #f4f4f4;
}

.ma_portal_list_photo img, .ma_portal_user_photo img {
  width: 100%;
  height: 100%;
}

#ma_content {
  width: 1200px;
  height: auto;
  min-height: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.ma_content_z {
  width: 881px;
}

.ma_portal_list {
  background-color: #FFF;
  padding: 25px 15px;
}

.ma_portal_list_t {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.ma_portal_list_t table {
  width: 100%;
}

.ma_saixuan a {
  float: left;
  margin-right: 31px;
}

.ma_saixuan .xw1 {
  font-weight: normal;
  color: #666;
  font-weight: bold;
}

.ma_saixuan a div {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 22px;
  height: 22px;
  float: left;
  margin-right: 8px;
  position: relative;
  top: -3px;
  background: no-repeat left top;
}

.ma_saixuan a:hover div, .ma_saixuan .xw1 div {
  background-position: left bottom;
}

.ma_portal_list_c {}

.ma_portal_list_c table {
  width: 100%;
  border-top: 1px solid #F4F4F4;
}

.ma_portal_list_c th, .ma_portal_list_c td, .tl th, .tl td {
  border-bottom: 1px solid #F4F4F4;
  padding: 16px 0;
  line-height: 170%;
  vertical-align: top;
}

.tl tbody:last-child th, .tl tbody:last-child td {
  border-bottom: 1px solid #F4F4F4;
}

.ma_portal_list_c .icn {
  width: 67px;
}

.ma_portal_list_c .by {
  width: 100px;
}

.ma_portal_list_photo, .ma_portal_user_photo {
  width: 50px;
  height: 50px;
  display: block;
  border: #F1F1F1 1px solid;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}

.ma_portal_list_des {
  padding-right: 30px;
  padding-top: 6px;
}

.ma_portal_list_des h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 2px;
}

.ma_portal_list_des h3 img {
  position: relative;
  top: -2px;
  top: 0 \9;
}

.ma_portal_list_des em {
  margin-right: 4px;
  color: #4895d0;
}

.ma_portal_list_des em a {
  color: #4895d0;
}

.ma_portal_list_y {
  text-align: right;
  padding-top: 4px;
}

.ma_portal_list_y a {
  display: block;
  margin-bottom: 9px;
  *margin-bottom: 5px;
}

.ma_portal_list_y span {
  color: #C8C8C8;
}

.ma_portal_list_b {
  padding-top: 25px;
  padding-right: 2px;
  padding-left: 10px;
}

.ma_portal_list_b_z {
  font-size: 14px;
  line-height: 16px;
}

.ma_portal_list .forumrefresh {
  position: relative;
  left: -47px;
  font-size: 14px;
  float: left;
  padding-right: 31px;
}

.ma_portal_list .ma_new_btn {
  position: relative;
  left: 89px;
}

#separatorline .ts th, #separatorline .ts td {
  background: #FCFCFC;
  padding: 12px 0;
  border: 0;
  border: #F3F3F3 1px solid;
  border-left-width: 0;
  border-right-width: 0;
}

.tl tr:hover th, .tl tr:hover td {
  background-color: #F4F4F4;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.ma_content_y {
  width: 300px;
}

.ma_portal_y {
  background: #FFF;
  padding: 20px;
  margin-bottom: 20px;
}

.ma_portal_fate {
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
  background: url(../images/fatie_btn.png) no-repeat 208px center #498EE1;
  padding-right: 8px;
  /*  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;*/
}

.ma_portal_fate:hover {
  color: #fff;
  -moz-opacity: 0.9;
  opacity: 0.90;
  filter: alpha(opacity=90);
}

.ma_portal_user_photo {
  width: 78px;
  height: 78px;
  margin-right: 11px;
}

.ma_portal_user_des {
  width: 169px;
  font-size: 14px;
  line-height: 160%;
}

.ma_portal_user_des span {
  /*display:block; */
  margin-bottom: 4px;
}

.ma_portal_user_des .checkin_money {
  float: right;
  font-size: 12px;
  background: #8EB200;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  display: inline-block;
  width: initial;
}

.ma_portal_user_des a {
  color: #666;
  font-size: 18px;
  display: block;
  width: 140px;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
  background: url(../images/login_nrrow.png) no-repeat right 14px;
}

.ma_portal_user_num {
  padding-top: 21px;
  /*margin-bottom:16px;*/
}

.ma_portal_user_num li {
  float: left;
  width: 86px;
  border-right: 1px dashed #f4f4f4;
  text-align: center;
  font-size: 14px;
}

.ma_portal_user_num li a {
  color: #4D8CEB;
  font-size: 17px;
}

.ma_new_btn {
  color: #019C73;
  font-size: 14px;
}

.ma_new_btn img {
  float: left;
  margin-right: 11px;
  position: relative;
  top: 1px;
  _top: 0;
}

.ma_qiandao_tip {
  height: 50px;
  line-height: 50px;
  background: url(../images/qiandao_ico.png) no-repeat 162px center #ECECEC;
  padding-right: 25px;
  text-align: center;
  color: #019c73;
  font-size: 20px;
  margin-bottom: 11px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


/*.ma_qiandao_btn {display:block; background:url(../images/qiandao_ico_2.png) no-repeat 177px center #019C73; color:#fff; margin-bottom:0;}*/

.ma_qiandao_btn, .ma_yiqiandao {
  display: block;
  background: url(../images/qiandao_bg.png) no-repeat left top;
  color: #fff;
  height: 50px;
  /*  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;*/
}

.ma_qiandao_btn:hover {
  -moz-opacity: 0.7;
  opacity: 0.70;
  filter: alpha(opacity=70);
}

.ma_yiqiandao {
  background-position: left bottom;
  margin-bottom: 11px;
}

.ma_qiandao_tip {
  background: #88C248;
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
  position: relative;
  padding: 0;
}

.ma_qiandao_tip img {
  position: absolute;
  left: 23px;
  top: -6px;
}

.ma_qiandao_p {
  font-size: 14px;
  text-align: center;
}

.ma_qiandao_p em {
  font-size: 16px;
  margin: 0 3px;
}

.ma_portal_y_t {
  font-size: 16px;
  color: #555;
  font-weight: normal;
  margin-bottom: 15px;
  line-height: 120%;
  position: relative;
  top: -3px;
}

.ma_portal_y_t a {
  font-size: 12px;
  position: relative;
  top: 4px;
}

.ma_portal_y_list_img {
  display: block;
  width: 260px;
  /*height:124px;*/
  overflow: hidden;
  margin-bottom: 13px;
}

.ma_portal_y_list_img img {
  width: 100%;
}

.ma_portal_y_list li {
  width: 260px;
  *width: 240px;
  list-style: inside disc;
  font-size: 14px;
  color: #D6D5D5;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}

.ma_portal_y_list li a {
  *position: relative;
  *top: 2px;
  color: #919090;
}

.ma_portal_mem {
  width: 260px;
  height: 226px;
  overflow: hidden;
  position: relative;
}

.ma_portal_mem ul {
  width: 270px;
}

.ma_portal_mem li {
  margin-right: 10px;
  float: left;
  width: 80px;
  margin-bottom: 11px;
}

.ma_portal_mem li .ma_portal_list_photo {
  width: 78px;
  height: 78px;
  margin-bottom: 4px;
}

.ma_portal_mem li .ma_n {
  width: 80px;
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
  color: #000;
}

.ma_bkdh {}

.ma_bkdh a {
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  float: left;
  border: #F4F4F4 1px solid;
  border-left: 0;
  border-bottom: 0;
  font-size: 14px;
}

.ma_bkdh a.ma_hover, .ma_bkdh a:hover {
  background: #FCFCFC;
  color: #019c73;
}

.ma_bkdh a.forum_0 {
  border-right: 0;
  width: 149px;
}

.ma_bksc {
  border-top: #E2E2E2 1px dashed;
  margin-bottom: 3px;
}

.ma_bksc a {
  font-size: 14px;
  color: #898787;
  display: block;
  background: #F4F4F4;
  position: relative;
  top: -33px;
  padding-right: 2px;
}

.ma_bksc a img {
  margin-right: 5px;
  position: relative;
  top: 1px;
}

.ma_bkbt {
  adding-left: 1px;
  padding-right: 3px;
  color: #898787;
}

.ma_bkbt h2 {
  font-size: 28px;
  font-weight: normal;
  position: relative;
  top: -20px;
  margin-right: 20px;
  color: #666;
}

.ma_bkbt .pipe {
  color: #E2E2E2;
}

.ma_bkbt a {
  color: #898787;
}

div.c123 {
  border-top: #F4F4F4 1px solid;
  padding-top: 23px;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
}

.ttp {
  border: 0;
  margin: 0;
  padding: 10px 24px;
  padding-bottom: 8px;
  width: 833px;
  position: relative;
  /*      background:url(../images/bk_bg.png) repeat-x left bottom #fff;*/
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-shadow: 0 -2px 1px #F1F1F1;
  -moz-box-shadow: 0 -2px 1px #F1F1F1;
  box-shadow: 0 -2px 1px #F1F1F1;
}

.ttp a {
  float: none;
  padding: 0;
  margin: 0;
}

.ttp .a a {
  color: #019C73;
  background: none;
  padding: 0;
  font-weight: bold;
}

.ttp li {
  padding: 0;
  font-size: 14px;
  padding: 5px 0 8px 0;
  white-space: nowrap;
}

.ttp li label {
  margin: 0 14px;
  color: #D8D8D8;
  position: relative;
  top: -1px;
}

.ttp .a a span {
  font-weight: normal;
}

.ttp li label.ma_hide {
  visibility: hidden;
}

.ttp a span {
  /*display:inline-block; *display:inline; *zoom:0; height:14px; */
  line-height: 14px;
  font-size: 12px;
  color: #fff;
  background: #D8D8D8;
  padding: 0 8px;
  margin-left: 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.cttp .unfold, .cttp .fold {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 19px;
  height: 19px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  z-index: 999px;
}

.cttp .fold {
  background: url(../images/bk_up.gif) no-repeat left top;
}

.cttp .unfold {
  background: url(../images/bk_down.gif) no-repeat left top;
}

.cttp .fold:hover, .cttp .unfold:hover {
  background-position: left bottom;
}

.cttp {
  height: 30px;
}

.ma_guanzhu li {
  float: left;
  border-right: #F4F4F4 solid 1px;
  text-align: center;
  width: 129px;
  color: #999;
}

.ma_guanzhu li img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-bottom: 10px;
}

.ma_guanzhu li a {
  color: #999;
}

.forumrefresh {
  padding-right: 26px;
}

#atarget, #atarget2, .unchk, .chked {
  padding-left: 24px;
  background-position: left top;
}

#atarget.atarget_1, #atarget2.atarget_1, .chked {
  background-position: left -40px;
}

.suo13 {
  padding-bottom: 13px;
}

.suo7 {
  padding-bottom: 7px;
}

.tl td em {
  font-size: 12px;
}


/*顶部一句话*/

.ma_htfx {
  min-height: 50px;
  _height: 50px;
  padding-left: 10px;
  padding-top: 10px;
  background: #FFF;
  margin-bottom: 20px;
  position: relative;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 1px #F1F1F1;
  -moz-box-shadow: 0 2px 1px #F1F1F1;
  box-shadow: 0 2px 1px #F1F1F1;
}

.ma_htfx_img {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  margin-right: 13px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.ma_htfx_img img {
  width: 100%;
}

.ma_htfx_y {
  position: relative;
  top: 2px;
}

.ma_htfx_y {
  color: #8f8f8f;
}

.ma_htfx_y a {
  color: #4d4d4d;
  font-size: 13px;
}

.ma_htfx_y p {
  width: 630px;
  line-height: 150%;
  font-size: 13px;
}

.ma_htfx_fx {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #8F8F8F;
}

.ma_htfx_fx .bdsharebuttonbox {
  display: inline-block;
  position: relative;
  top: 18px;
}

.bdshare-button-style0-24 a {
  font-size: 0 !important;
  line-height: 0 !important;
  margin: 0 !important;
}

.bdsharebuttonbox .bds_tsina {
  width: 19px !important;
  height: 19px !important;
  background: url(../images/htfx_ico_1.png) no-repeat right top !important;
  padding: 0 !important;
  margin-right: 6px !important;
}

.bdsharebuttonbox .bds_douban {
  width: 19px !important;
  height: 19px !important;
  background: url(../images/htfx_ico_2.png) no-repeat right top !important;
  padding: 0 !important;
  margin-right: 6px !important;
}

.bdsharebuttonbox .bds_tqq {
  width: 19px !important;
  height: 19px !important;
  background: url(../images/htfx_ico_3.png) no-repeat right top !important;
  padding: 0 !important;
  margin-right: 6px !important;
}

.bdsharebuttonbox .bds_qzone {
  width: 19px !important;
  height: 19px !important;
  background: url(../images/htfx_ico_4.png) no-repeat right top !important;
  padding: 0 !important;
}


/*顶部一句话*/


/* cq */

#threadlist .avatar {
  width: 67px;
  padding-left: 10px;
}

#threadlist th.thd {
  width: 80%;
}

#threadlist a.xst {
  font-size: 16px;
}

#threadlist .ma_portal_list_des h3 em a {
  color: #4895D0;
}

.ma_radius {
  border-radius: 5px;
}

#threadlist .ma_portal_list_des h3 a.xst {
  color: #000000;
}

#threadlist .ma_portal_list_des_b, #threadlist .ma_portal_list_des_b a {
  color: #C0C0C0;
}

#threadlist .ma_portal_list_des h3 a:hover {
  color: #4D8CEB;
}

.starmembers {
  height: 225px;
  overflow: hidden;
}

.pop_moremenu a {
  display: inline;
  text-decoration: none;
  border-bottom: 0;
}

.p_pop ul li {
  display: block;
}


/* end */
